<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZ8Z8oNqQ_e75_0YXYIm-mI3r4s45wDc4</string>
	<key>GCM_SENDER_ID</key>
	<string>552757643567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vfarm</string>
	<key>PROJECT_ID</key>
	<string>v-farm-nagarith</string>
	<key>STORAGE_BUCKET</key>
	<string>v-farm-nagarith.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552757643567:ios:ef44d7c51fd53b4eb0b9da</string>
</dict>
</plist>